.contact {
    background-color: #ededed;
    margin-bottom: 10px;
    z-index: 100;
}

.work-space{
    width: 530px;
    
}

.contactCards {
    font-size: 14px;
    background-color: none;
    color: black;
}

.card {
    position: relative;
    background-color: #9C9C9C;
    height: 300px;
    padding: 0px;
}


.edit {
    border-width: 1px;
    border-style: dotted;
    border-color: #25ffff;
    z-index: 99;
}

.properties {
    background-color: #ededed;
/*    height: 300px;*/
}

.prop {
    margin-bottom: 10px;
}

.prop span {
    width: 80px;
} 


.basket {
    background-color: #DDDDDD;
    height: 120px; 
    z-index: 50;
}

.delete-btn {
    font-size: 50px;
    margin: 35px 40%;
}

.hovered {
    background-color: #767676;
    border-width: 2px;
    border-style: dotted;
    border-color: #343434;
}

a:link, a:visited, a:active {
    color: #000000;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}